[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pypdf = "*"
langchain = "*"
langchain-chroma = "*"
langchain-community = "*"
langchain-huggingface = "*"
langchain-openai = "*"
langchain-text-splitters = "*"
spacy = "*"
mistralai = "*"

[dev-packages]
langchain-ollama = "*"
pytest = "*"
mock = "*"
ipykernel = "*"
