{% extends "therapist_base.html" %}

{% block content %}
<div class="hero is-medium">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="box">
                        <figure class="image is-128x128 is-inline-block mb-4">
                            <span class="icon is-large has-text-grey-light" style="font-size: 6rem;">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </figure>
                        
                        <h1 class="title is-1 has-text-grey">404</h1>
                        <h2 class="subtitle is-3 has-text-grey">Page Not Found</h2>
                        
                        <div class="content">
                            <p class="is-size-5 has-text-grey">
                                The page you're looking for doesn't exist or has been moved.
                            </p>
                        </div>
                        
                        <div class="buttons is-centered mt-5">
                            {% if current_user %}
                                {% if current_user.has_role(btcopilot.ROLE_ADMIN) %}
                                <a href="{{ url_for('training.admin.index') }}" class="button is-primary">
                                    <span class="icon">
                                        <i class="fas fa-shield-alt"></i>
                                    </span>
                                    <span>Go to Admin</span>
                                </a>
                                {% endif %}
                                
                                {% if current_user.has_role(btcopilot.ROLE_AUDITOR) %}
                                <a href="{{ url_for('training.audit.index') }}" class="button is-info">
                                    <span class="icon">
                                        <i class="fas fa-user-check"></i>
                                    </span>
                                    <span>Go to Audit</span>
                                </a>
                                {% endif %}
                                
                                <a href="{{ url_for('training.training_root') }}" class="button is-light">
                                    <span class="icon">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    <span>Go Home</span>
                                </a>
                            {% else %}
                                <a href="{{ url_for('training.auth.login') }}" class="button is-primary">
                                    <span class="icon">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </span>
                                    <span>Login</span>
                                </a>
                            {% endif %}
                        </div>
                        
                        <div class="content mt-4">
                            <small class="has-text-grey">
                                If you believe this is an error, please contact your system administrator.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}