<!-- User Discussions Section -->
<div class="box">
    <h4 class="title is-5">
        <span class="icon"><i class="fas fa-comments"></i></span>
        Discussions
    </h4>
    
    {% if user_discussions %}
        {% for discussion in user_discussions %}
            <div class="box mb-3">
                <div class="media">
                    <div class="media-left">
                        <span class="icon is-large has-text-info">
                            <i class="fas fa-comments fa-2x"></i>
                        </span>
                    </div>
                    <div class="media-content">
                        <p class="title is-6">
                            <a href="/training/discussions/{{ discussion.id }}">
                                Discussion {{ discussion.id }}
                            </a>
                        </p>
                        {% if discussion.summary %}
                            <p class="subtitle is-7 mb-2">{{ discussion.summary }}</p>
                        {% endif %}
                        {% if discussion.last_topic %}
                            <p class="has-text-grey is-size-7 mb-2">Last topic: {{ discussion.last_topic }}</p>
                        {% endif %}
                        <div class="tags">
                            <span class="tag is-info is-light">{{ discussion.statements|length }} statements</span>
                            {% if discussion.created_at %}
                                <span class="tag is-light">{{ discussion.created_at.strftime('%Y-%m-%d') }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="media-right">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button is-small" aria-haspopup="true">
                                    <span class="icon is-small">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu">
                                <div class="dropdown-content">
                                    <a href="/training/discussions/{{ discussion.id }}" class="dropdown-item">
                                        <span class="icon is-small"><i class="fas fa-eye"></i></span>
                                        <span>View</span>
                                    </a>
                                    {% if current_user.has_role(vedana.ROLE_ADMIN) %}
                                        <a href="#" class="dropdown-item" onclick="deleteDiscussion({{ discussion.id }}, '{{ user.username }}', {{ discussion.statements|length }})">
                                            <span class="icon is-small has-text-danger"><i class="fas fa-trash"></i></span>
                                            <span class="has-text-danger">Delete</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="notification is-light">
            <p class="has-text-grey">No discussions found</p>
        </div>
    {% endif %}
</div>